#wrapper {
	position: relative;
	overflow: hidden;
}

.container {
	max-width: 1230px;
	padding: 0 15px;
	margin: 0 auto;
}

a {
	@include animate(color);
}

.btn {
	@include animate(box-shadow);

	min-width: 290px;
	min-height: 60px;
	display: inline-block;
	vertical-align: middle;
	padding: 10px;
	text-align: center;
	text-transform: uppercase;
	background: linear-gradient(to right, #ff846e 0%,#ff6b9b 100%);
	text-decoration: none;
	color: $white;
	border-radius: 26px;
	box-shadow: 0 0 49px 0 rgba(50,21,83,0.35);

	&:hover {
		box-shadow: 0 -2px 49px 5px rgba(50,21,83,0.35);
	}

	@include media('>=tablet') {
		min-width: 350px;
	}

	.text-btn {
		position: relative;
		padding-right: 33px;
		display: inline-block;
		vertical-align: middle;
		font-size: 16px;
		font-weight: 700;
		line-height: 2.5;
		letter-spacing: 0;

		&:after {
			content: '';
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 0;
			background-image: url(../images/arrow.png);
			background-size: cover;
			background-repeat: no-repeat;
			background-position: 50% 50%;
			width: 21px;
			height: 11px;
		}
	}

	&.outline-btn {
	    min-height: 50px;
	    font-size: 13px;
	    line-height: 28px;
	    font-weight: 700;
	    background: transparent;
	    min-width: 200px;
	    border: 1px solid #ff846e;
	    position: relative;
    	z-index: 99;

		&:hover {
			background: linear-gradient(to right, #ff846e 0%,#ff6b9b 100%);
		}
	}
}

.title-block {
	text-align: center;
	margin: 0 auto;
}

h1 {
	letter-spacing: .3px;
	text-transform: uppercase;

	@include media('>=tablet') {
		font-size: 30px;
	}
}

.h3 {
	color: $white;
	font-size: 14px;
	line-height: 1;
}

h4 {
	@include media('>=tablet') {
		font-size: 16px;
	}
}

.visual-section	{
	padding: 92px 0 30px;
	background: linear-gradient(135deg, #4849d1 0%,#c06cde 100%);

	@include media('>=tablet') {
		padding: 100px 0 58px;
    	min-height: 100vh;
	}

	@include media('>=desktop') {
		padding: 248px 0 194px;
	}

	.container {
		@include media('>=desktop') {
			display: flex;
			justify-content: space-between;
		}
	}

	.text-block {
	    color: $white;
	    font-size: 16px;
	    font-weight: 500;
	    text-align: center;

	    @include media('>=tablet') {
	    	font-size: 18px;
	    }

	    @include media('>=desktop') {
	    	max-width: 580px;
	    }

		h1,
		h2 {
			color: $white;
		}

		h1 {
			font-size: 40px;
		    text-transform: none;
		    margin: 0 0 4px;
		    line-height: 1;

		    @include media('>=tablet') {
		    	font-size: 48px;
		    }
		}

		h2 {
			font-size: 26px;
    		margin: 0 0 5px;

    		 @include media('>=tablet') {
			   	font-size: 34px;
    			margin: 0px 0 24px;
			}
		}

		p {
			margin: 0 0 11px;
		}

		.list-bonus {
			@extend %listreset;

			margin: 0 0 15px;

			@include media('>=tablet') {
				margin: 0 0 29px;
			}

			li {
				margin: 0 0 5px;
				font-size: 14px;
			    font-weight: 500;
			    text-align: center;
			    
			    letter-spacing: .1px;
			    padding-left: 20px;

			    @include media('>=tablet') {
			    	margin: 0 0 10px;
			    	font-size: 16px;
			    }

			    &:last-child {
			    	color: #34e9de;
			    }

			    &:before {
			    	font-family: 'icomoon' !important;
			    	content: "\e900";
			    	display: inline-block;
			    	vertical-align: middle;
			    }
			}
		}

		.btn {
			min-width: 53px;
			padding: 7px 10px 7px 10px;
			min-height: 50px;
			margin: 0 0 20px;

			@include media('>=tablet') {
				min-width: 260px;
			}

			@include media('>=desktop') {
				margin: 0 0 76px;
			}
		}

		.summary {
			@extend %listreset;

			margin: 0 -22px 15px;

			li {
			    color: #fff392;
			    font-weight: 700;
			    padding: 0 18px;
			    font-size: 14px;
			    letter-spacing: 0.1px;
			    text-transform: uppercase;
			    margin: 0 0 10px;

			    @include media('>=tablet') {
			    	display: inline-block;
			    	vertical-align: middle;
			    	margin: 0;
			    }
			}
		}
	}

	.img-holder {
		display: none;

		@include media('>=tablet') {
			display: block;
			width: 100%;
			height: 300px;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: 50% 50%;
		}

		@include media('>=desktop') {
			display: block;
			width: 616px;
			height: 524px;
		}
	}
}

.about-course {
	padding: 15px 0;

	@include media('>=tablet') {
		padding: 60px 0;
	}

	@include media('>=desktop') {
		padding: 120px 0 46px;
	}

	.item-holder {
		@include media('>=tablet') {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-beetwen;
		}
	}

	.title-block {
		margin: 0 0 20px;

		@include media('>=tablet') {
			margin: 0 0 43px;
		}
	}

	.item {
		text-align: center;
		line-height: 1.6;
		font-size: 15px;
		margin: 0 auto 20px;
		max-width: 310px;
		color: #687e89;

		@include media('>=tablet') {
			padding: 0 2px;
			width: 33.33%;
			margin: 0;
			max-width: 100%;
		}

		@include media('>=desktop') {
			padding: 0 26px;
		}

		h4 {
			@include media('>=tablet') {
				max-width: 201px;
			}
		}

		.img-holder {
			background-size: cover;
			background-repeat: no-repeat;
			background-position: 50% 50%;
			width: 119px;
			height: 120px;
			margin: 0 auto 19px;
			position: relative;
		}

		img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		.title-text {
			text-transform: uppercase;
			letter-spacing: .4px;
			margin: 0 0 6px;
			display: block;
			color: $black;
		}
	}
}

.result {
	padding: 15px 0;

	@include media('>=tablet') {
		padding: 39px 0;
	}

	@include media('>=desktop') {
		padding: 39px 0 100px;
	}

	.title-block {
		margin-bottom: 30px;

		@include media('>=tablet') {
			margin-bottom: 68px;
		}

		h1 {
			margin: 0 0 11px;
		}

		p {
			br {
				display: none;

				@include media('>=phone') {
					display: block;
				}
			}
		}
	}

	.course-progress {
		@extend %listreset;

		display: flex;
		flex-wrap: wrap;
		justify-content: space-beetwen;
		margin: 0 0 30px;

		@include media('>=tablet') {
			margin: 0 0 70px;
		}

		li {
			color: #687e89;
			font-size: 15px;
			width: 50%;
			text-align: center;

			@include media('>=tablet') {
				width: 25%;
			}

			.number {
				display: block;
				font-size: 36px;
				line-height: 1;
				color: $black;
				font-weight: 500;
				margin-bottom: 15px;
			}
		}
	}

	.box-holder {
		@include media('>=tablet') {
			margin: -15px;
			display: flex;
			justify-content: space-beetwen;
			flex-wrap: wrap;
		}

		.box-wrapper {
			position: relative;
			overflow: hidden;
			padding: 10px 0;

			@include media('>=tablet') {
				padding: 13px 15px;
				width: 50%;
			}

			@include media('>=desktop') {
				width: 25%;
			}

			&:after {
				content: '';
				position: absolute;
				top: -351px;
				left: 0;
				right: 0;
				background-image: url(../images/decor-sky.png);
				background-size: cover;
				background-position: 50% 50%;
				background-repeat: no-repeat;
				height: 521px;
				width: 100%;
			}

			.h3 {
				margin: 0 0 14px;
			}
		}

		.box {
			padding: 45px 25px 23px 24px;
			border-radius: 16px;
			min-height: 280px;
			text-align: center;
			color: $white;
			font-size: 13px;
			box-shadow: 0 0 31px -12px rgba(0, 0, 0, 0.25);
			position: relative;

			&:after,
			&:before {
				content: '';
				position: absolute;
				background: radial-gradient(ellipse at center, rgba(255,255,255,0.2) 0%, transparent 60%, transparent 100%);
				width: 200px;
				height: 200px;
			}

			&:after {
				bottom: -100px;
				left: -100px;
			}

			&:before {
				top: -100px;
				right: -100px;
			}

			&.purple {
				background: linear-gradient(135deg, #b368dd 0%,#9360d9 68%,#825ad7 100%);
			}

			&.lighten-orange {
				background: linear-gradient(135deg, #dd7a3f 0%,#e76568 68%,#ec5982 100%);
			}

			&.blue {
				background: linear-gradient(135deg, #269fc5 0%,#3bbdc8 68%,#48cdca 100%);
			}

			&.yellow {
				background: linear-gradient(135deg, #c1ca32 0%,#cbbd2c 68%,#d1b226 100%);
			}

			&.dark-blue {
				background: linear-gradient(135deg, #236aec 0%,#1996f4 68%,#14baf9 100%);
			}

			&.green {
				background: linear-gradient(135deg, #5ec95b 0%,#9dc648 68%,#bfc43d 100%);
			}

			&.purple-blue {
				background: linear-gradient(135deg, #5aafe4 0%,#8691d6 55%,#c465c2 100%);
			}

			&.orange {
				background: linear-gradient(135deg, #e2c150 0%,#e29d3d 30%,#ec6952 100%);
			}

			img {
				margin: 0 0 80px;
				width: 48px;
				height: 49px;
			}

			p {
				margin: 0 0 19px;
			}

			.arrow {
				margin: 0;
				width: 21px;
    			height: 11px;
			}
		}
	}
}

.description {
	padding: 30px 0;
	background-color: #f6f9fc;

	@include media('>=tablet') {
		padding: 110px 0 119px;
	}

	.title-block {
		margin: 0 0 78px;

		h1 {
			margin: 0 0 5px;
		}

		h2 {
			font-size: 20px;
			line-height: 1;
			letter-spacing: .3px;
			color: $black;
			margin: 0 0 19px;

			@include media('>=tablet') {
				font-size: 30px;
			}
		}
	}

	.item-holder {
		@include media('>=tablet') {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-beetwen;
			margin: 0 -15px;
		}

		.title-block-item {
			border-radius: 5px;
			max-width: 250px;
			padding: 12px 11px;
			margin: -48px auto 0;
			position: relative;
			overflow: hidden;

			&:before {
				content: '';
				position: absolute;
				top: -112px;
				left: 0;
				right: 0;
				background-image: url(../images/decor-wave.png);
				background-repeat: no-repeat;
				background-size: cover;
				background-position: 50% 50%;
				opacity: .02;
				width: 100%;
				height: 155px;
			}
			
			h4 {
				color: $white;
				letter-spacing: -.3px;
				margin: 0;
				font-size: 12px;

				@include media('>=desktop') {
					font-size: 14px;
				}
			}

			&.blue {
				background: linear-gradient(45deg, #0000e0 0%,#c36fe0 100%);
			}

			&.light-blue {
				background: linear-gradient(45deg, #249bca 0%,#4ed6c9 100%);
			}

			&.pink {
				background: linear-gradient(45deg, #ff6d9f 0%,#ff9a85 100%);
			}
		}

		.item-wrapper {
			border-radius: 5px;
			margin: 0 0 40px;

			&:last-child {
				margin: 0;
			}

			@include media('>=tablet') {
				padding: 0 15px;
				width: 33.33%;
				margin: 0;
			}
		}

		.item {
			color: #687e89;
			background-color: $white;
			text-align: center;
			padding: 23px 11px 11px 24px;
			font-size: 15px;
			border-radius: 5px;

			a {
				color: $orange;
				text-decoration: none;

				&:hover {
					color: #ff6d9f;
				}
			}

			p {
				margin-top: 16px;
			}
		}
	}
}

.learning {
	background-color: #f6f9fc;
	padding: 15px 0;

	@include media('>=tablet') {
		padding: 60px 0;
	}

	@include media('>=desktop') {
		padding: 112px 0 120px;
	}

	.title-block {
		margin: 0 0 20px;

		@include media('>=tablet') {
			margin: 0 0 38px;
		}
	}

	.item-holder {
		@include media('>=tablet') {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			margin: 0 0 29px;
		}
	}

	.item {
		text-align: center;
		line-height: 1.6;
		font-size: 15px;
		margin: 0 auto 20px;
		max-width: 310px;
		color: #687e89;

		@include media('>=tablet') {
			padding: 0 2px;
			width: 33.33%;
			margin: 0;
			max-width: 100%;
		}

		@include media('>=desktop') {
			padding: 0 26px;
		}

		@include media('>=widescreen') {
			padding: 0 57px;
		}

		img {
			margin: 0 0 13px;
		}

		.title-text {
			text-transform: uppercase;
			letter-spacing: .4px;
			margin: 0 0 6px;
			display: block;
			color: $black;
		}
	}

	.btn-holder {
		text-align: center;
	}
}

.skills {
	padding: 30px 0;
	min-height: 674px;
	background-position: 50% 50%;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;

	@include media('>=tablet') {
		padding: 82px 0 59px;
	}

	.container {
		position: static !important;
	}

	.title-block {
		color: #9090c8;
		max-width: 755px;
		margin: 0 auto 20px;
		
		@include media('>=tablet') {
			margin: 0 auto 77px;
		}

		h1 {
			color: #ff8075;
			margin: 0 0 5px;
			line-height: 1.466;
		}

		h2 {
			font-size: 20px;
			line-height: 1.0666666;
			color: $white;
			margin: 0 0 20px;

			@include media('>=tablet') {
				font-size: 30px;
			}
		}
	}

	.item-holder {
		@include media('>=tablet') {
			display: flex;
			flex-wrap: wrap;
			margin: 0 auto;
			max-width: 700px;
		}

		@include media('>=desktop') {
			margin: 0;
			max-width: 100%;
		}

		.item {
			margin: 0 0 38px;
			text-align: center;

			@include media('>=tablet') {
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				width: 50%;
				padding: 0 30px;
				text-align: left;
			}

			@include media('>=desktop') {
				width: 33.33%;
				padding: 0 20px;
			}

			h4 {
				font-size: 15px;
				font-weight: 500;
				color: $white;
				letter-spacing: 0;
				margin: 0;
			}
		}
	}
}

.bonus-section {
	padding: 30px 0;
	background: linear-gradient(135deg, #4849d1 0%,#865bd9 44%,#c06bdf 100%);

	@include media('>=tablet') {
		padding: 108px 0;
	}

	.title-block {
		margin-bottom: 26px;

		h1 {
			color: $white;
		}
	}

	.list-holder {
		@include media('>=desktop') {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
		}

		@include media('>=widescreen') {
			margin: 0 0 0 -27px;
		}
	}

	.logo-block {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		padding: 40px;
		min-height: 320px;
		max-width: 400px;
		margin: 0 auto;
		width: 100%;
		position: relative;
		z-index: 2;

		@include media('>=desktop') {
			padding: 128px 135px 129px 143px;
			min-height: 283px;
			max-width: 490px;
			width: 100%;
		}

		@include media('>=widescreen') {
			padding: 153px 155px 132px 185px;
			min-height: 663px;
			max-width: 693px;
			width: 100%;
			margin: 0;
		}
	}

	.box-list {
		background-color: #fff;
		padding: 30px 20px;
		border-radius: 13px;
		z-index: 0;
		max-width: 530px;
		margin: 0 auto;

		@include media('>=tablet') {
			padding: 67px 75px 30px 75px;
		}

		@include media('>=desktop') {
			padding: 23px 30px 30px 166px;
			margin: -11px 0 0 -137px;
			max-width: 100%;
		}

		@include media('>=widescreen') {
			padding: 67px 75px 30px 169px;
			margin: -11px 0 0 -185px;
			max-width: 689px;
		}

		ul {
			@extend %listreset;

			li {
				position: relative;
				font-size: 15px;
				margin-bottom: 13px;
				padding: 0 0 0 30px;

				@include media('>=widescreen') {
					margin-bottom: 20px;
				}

				&:before {
					content: '';
					position: absolute;
					left: 0;
					top: 3px;
					width: 16px;
					height: 16px;
					background-image: url(../images/icon-check.png);
					background-size: cover;
					background-repeat: no-repeat;
					background-position: 50% 50%;
				}

				&:last-child {
					text-transform: uppercase;
					font-weight: 700;
				}
			}
		}
	}
}

.how-learn {
	padding: 30px 0;
	
	@include media('>=tablet') {
		padding: 60px 0;
	}

	@include media('>=desktop') {
		padding: 108px 0 120px;
	}

	.title-block {
		margin: 0 0 30px;

		@include media('>=tablet') {
			margin: 0 0 60px;
		}

		@include media('>=desktop') {
			margin: 0 0 107px;
		}
	}

	.block-holder {
		display: flex;
	}

	.left-block {
		max-width: 830px;
	}

	.list {
		@extend %listreset;

		width: 83%;
		counter-reset: li;
		list-style: none;
		margin: 0 0 30px;

		@include media('>=tablet') {
			margin: 0 0 114px;
		}

		li {
			color: #a494ba;
			position: relative;
			padding-left: 37px;
			margin-bottom: 20px;
			font-size: 14px;
			line-height: 1.642857;
			letter-spacing: .1px;

			@include media('>=tablet') {
				margin: 0 0 54px;
			}

			&:before { 
				content: counter(li, decimal-leading-zero);
				counter-increment: li;
				position: absolute;
				left: 0;
				top: 0px;
				font-size: 17px;
			}
		}

		h3 {
			color: $black;
			margin: 0 0 13px;
		}
	}

	.description-list {
		text-align: center;
		background-color: #f6f9fc;
		letter-spacing: .2px;
		line-height: 1.875;
		border: 4px solid transparent;
		border-image: linear-gradient(to bottom, #4ad4c8 0%, #209ac9 100%);
		border-image-slice: 1;
		padding: 26px 21px 12px 41px;
	}
}

.form-section {
	padding: 20px 0;
	
	@include media('>=tablet') {
		padding: 108px 0 120px;
	}

	.container {
		position: static !important;
	}

	.title-block {
		margin: 0 auto 20px;

		@include media('>=tablet') {
			margin: 0 auto 50px;
		}

		h1 {
			margin: 0 0 12px;
		}
	}

	.left-block {
		margin-top: 25px;
		text-align: center;

		@include media('>=tablet') {
    		text-align: left;
    		margin-top: 39px;
    	}

		p {
			margin: 0;
		}
	}

	.block-holder {
    	@include media('>=tablet') {
    		display: flex;
    		justify-content: space-between;
    		flex-wrap: wrap;
    		position: relative !important;
    		z-index: 99999999;
    	}

    	@include media('>=widescreen') {
    		padding: 0 59px 0 124px;
    	}
	}

	.price-today {
		margin: 0 0 10px;

		@include media('>=tablet') {
    		margin: 0 0 30px;
    	}

		.title {
			text-transform: uppercase;
			font-weight: 500;
			font-size: 14px;

			p {
				margin: 0 0 4px;
			}
		}

		.price {
			max-width: 104px;
			font-weight: 700;
			max-width: 105px;
			margin: 0 auto;

			@include media('>=tablet') {
    			margin: 0;
    		}

			p {
			  font-weight: 700;
			  font-size: 44px;
			  color: #fff;
			  background: -webkit-linear-gradient(to right, #ff8173 0%,#ff6d98 100%);
			  background: -o-linear-gradient(to right, #ff8173 0%,#ff6d98 100%);
			  background: linear-gradient(to right, #ff8173 0%,#ff6d98 100%);
			  -webkit-background-clip: text;
			  -webkit-text-fill-color: transparent;

				strong {
			  		margin: 0 0 0 3px;
   					font-size: 18px;
				}
			}
		}
	}

	.price-without {
		margin: 0 0 10px;
		
		@include media('>=tablet') {
			margin: 0 0 36px;
		}
	}

	.sale-price {
		margin: 0 0 10px;

		@include media('>=tablet') {
			margin: 0 0 63px;
		}
	}

	.choose-price {
		font-weight: 700;
    	font-size: 20px;
    	margin: 0 0 2px;
	}

	.date {
		@extend %listreset;

		li {
			margin: 0 0 20px;

			@include media('>=tablet') {
				margin: 0 0 8px;
			}
		}

		.color-text {
		    color: #6d4a9b;
		    font-size: 32px;
		    margin: 0 8px 0 0;
		}
	}
}

.feedback {
	padding: 30px 0;

	@include media('>=tablet') {
		padding: 117px 0 100px 0;
	}

	.title-block {
		margin: 0 auto 46px;

		h1 {
			margin: 0 0 5px;
    		line-height: 1;
		}

		h2 {
			font-size: 20px;
			color: $purple;

			@include media('>=tablet') {
				font-size: 30px;
			}
		}
	}
	.row-holder {
		max-width: 800px;
		margin: 0 auto 64px;
	}

	.feedback-holder {
	    display: flex;
	    flex-direction: column;
	    max-width: 324px;
    	margin: 0 auto;

    	@include media('>=phone') {
    		display: flex;
    		flex-direction: column;
    		max-width: 240px;
    		padding: 0 20px;
    	}

    	@include media('>=tablet') {	
    		flex-direction: row;
    		align-items: center;
    		justify-content: space-between;
    		width: calc(100% - 208px);
    		padding: 0;
    		margin: 0;
    		max-width: 100%;
    	}
	}

	.row-feedback-holder {
  		position: relative;
  		z-index: 10;

  		&:before,
  		&:after {
  			content: '';
  			display: block;
  			position: absolute;
  			left: 50%;
  			transform: translateX(-50%);
  			z-index: -1;
  			width: 100%;
  			border-radius: 15px;
  			opacity: .3;
  			background: linear-gradient(135deg, #38456c 0%,#9e3dd7 100%);
  		}

  		&:before {
  			bottom: -15px;
  			max-width: 760px;
  			height: 40px;
  		}

  		&:after {
  			bottom: -30px;
  			max-width: 720px;
  			height: 70px;
  		}
	}

	.decor {
		position: relative;
		display: block;

		&:before {
			content: '';
    		display: block;
    		position: absolute;
    		left: 50%;
    		bottom: -226px;
    		transform: translateX(-50%);
    		z-index: -1;
    		width: 100%;
    		height: 100px;
    		max-width: 680px;
    		border-radius: 15px;
    		opacity: .3;
            background: linear-gradient(135deg, #38456c 0%, #9e3dd7 100%);
		}
	}

	.row-feedback {
		padding: 15px 15px 21px 15px;
	    background: linear-gradient(135deg, #38446c 0%, #913ac3 100%);
	    overflow: hidden;
	    border-radius: 15px;
	    display: flex;
	    flex-wrap: wrap;
	    position: relative;
	    text-align: center;

	    &:before {
			content: '';
		    position: absolute;
		    right: 24px;
		    top: 190px;
		    background-image: url(../images/earth.png);
		    width: 242px;
		    height: 240px;
		    opacity: .1;
		}

		@include media('>=tablet') {
			padding: 23px 29px 21px 0;
			text-align: left;

			&:before {
		      	right: -80px;
    			top: -28px;
			}
		}

		img {
			margin: 0 auto 20px;
    		display: block;

    		@include media('>=tablet') {
				margin: -23px 28px -21px 0;
    		}
		}
	}

	.text-feedback {
		color: #efefef;
	    max-width: 324px;
	    font-weight: 300;
	    font-size: 14px;
	    line-height: 25px;

	    a {
	    	color: #949bb8;
	    	font-weight: 500;
		    text-decoration: none;
		    font-size: 13px;
		    display: block;
		    margin: 0 0 14px;

		    &:hover {
		    	color: #fa7a90;
		    }
	    }

	    .name {
	    	color: $white;
	    	font-size: 22px;
		    font-weight: 300;
		    display: block;
		    margin: 0 0 9px;
	    }
	}
}

.paralax-element-1,
.paralax-element-2,
.paralax-element-3,
.paralax-element-4,
.paralax-element-5,
.paralax-element-6,
.paralax-element-7,
.paralax-element-8,
.paralax-element-9,
.paralax-element-10,
.paralax-element-11,
.paralax-element-12,
.paralax-element-13,
.paralax-element-14,
.paralax-element-15,
.paralax-element-16
.paralax-element-17
.paralax-element-18 {
	position: absolute;
	display: none !important;

	@include media('>=desktop') {
    	display: block !important;
    }
}

.paralax-element-1 {
	left: 112px !important;
	top: 114px !important;
}

.paralax-element-2 {
	left: 391px !important;
	top: 108px !important;
}

.paralax-element-3 {
	left: 310px !important;
	top: 309px !important;
}

.paralax-element-4 {
	left: 138px !important;
	top: 444px !important;
}

.paralax-element-5 {
	left: 308px !important;
	top: 581px !important;
}

.paralax-element-6 {
	left: auto !important;
	right: 220px !important;
	top: 104px !important;
}

.paralax-element-7 {
	left: auto !important;
	right: 383px !important;
	top: 236px !important;
}

.paralax-element-8 {
	left: auto !important;
	right: 167px !important;
	top: 310px !important;
}

.paralax-element-9 {
	left: auto !important;
	right: 73px !important;
	top: 449px !important;
}

.paralax-element-10 {
	left: auto !important;
	right: 236px !important;
	top: 529px !important;
}

.paralax-element-11 {
	left: auto !important;
	right: -374px !important;
    top: -672px !important;
}

.paralax-element-12 {
	left: auto !important;
    right: 433px !important;
    top: -174px !important;
}

.paralax-element-13 {
	left: 349px !important;
    top: -329px !important;
}

.paralax-element-14 {
	left: 434px !important;
    top: -183px !important;
}

.paralax-element-15 {
	right: 372px !important;
    left: auto !important;
    top: -684px !important;
}

.paralax-element-16 {
	right: 462px !important;
    left: auto !important;
    top: -511px !important;
}

.paralax-element-17 {
	right: 371px !important;
    left: auto !important;
    top: -327px !important;
}

.paralax-element-18 {
	right: auto !important;
    left: 465px !important;
    top: -461px !important;
}

.parallax-img {
	@extend %listreset;

	display: none;
	width: 646px !important;
    right: 65px !important;

    @include media('>=desktop') {
    	display: block;
    }

	.parallax-img-1 {
		top: 0 !important;
		left: 0 !important;
		z-index: 2;
	}

	.parallax-img-2 {
		top: -77px !important;
	    left: 162px !important;
	    z-index: 1;
	}

	.parallax-img-3 {
		top: 135px !important;
	    left: 192px !important;
	    z-index: 1;
	    width: 453px !important;
	}
}

.form-block {
	box-shadow: 0px 0 42px -6px rgba(0, 0, 0, 0.2);
	border-radius: 14px;
	text-align: center;
	padding: 20px 25px 20px;
	width: 100%;

	@include media('>=tablet') {
		max-width: 340px;
	}

	@include media('>=desktop') {
		padding: 42px 50px 50px;
		max-width: 500px;
	}

	.title-block {
		margin: 0 auto 28px;
	}

	h3 {
		color: $black;
		font-size: 13px;

		@include media('>=tablet') {
			font-size: 17px
		}

		br {
			display: none;

			@include media('>=tablet') {
				display: block;
			}
		}
	}
}

.form {
	@include media('>=tablet') {
		max-width: 400px;
	}

	input {
		@include placeholder {
			color: #b2a2b6;
		}

	    height: 38px;
	    margin: 0 0 22px;
	    width: 100%;
	    font-size: 14px;
	    line-height: 14px;
	    outline: none;
	    display: block;
	    border: 0;
	    border-bottom: 1px solid #c6bdc8;
	    padding: 0;

		&:focus,
		&.focus {
			border-bottom: 1px solid #c6bdc8;
		}
	}

	button {
		outline: none;
		border: none;

		&.btn {
			box-shadow: none;
		    min-height: 40px;
		    display: inline-block;
		    vertical-align: middle;
		    padding: 5px 10px;
		    min-width: 220px;

		    @include media('>=tablet') {
		    	box-shadow: none;
			    min-height: 53px;
			    display: inline-block;
			    vertical-align: middle;
			    padding: 7px 10px;
			    min-width: 259px;
		    }
		}

		&:hover {
			box-shadow: 0 0 49px 0 rgba(50,21,83,0.35);
		}
	}
}

.iti-flag {
	background-image: url("../images/flags.png");
}

.intl-tel-input {
	width: 100%;
	margin: 0 0 40px;
}

.intl-tel-input.allow-dropdown .selected-flag,
.intl-tel-input.separate-dial-code .selected-flag {
	width: 40px;
	outline: none;
}

.intl-tel-input.allow-dropdown .flag-container:hover .selected-flag {
	background-color: transparent;
}

.intl-tel-input .selected-flag {
	padding: 0;
}

.intl-tel-input.allow-dropdown .flag-container,
.intl-tel-input.separate-dial-code .flag-container {
	left: 8px;
}

.nice-form [type="checkbox"],
.nice-form [type="radio"] {
	position:fixed;
	left:0;
	top:0;
	opacity:0;
	z-index: -1;
}

.nice-form .fake-input {
	display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid #c6bdc8;
    background: #fff;
    vertical-align: middle;
    position: relative;
    margin-right: 18px;
    position: absolute;
    left: 0;
    top: 1px;
}

.nice-form [type=radio] + .fake-input {
	border-radius:100%;
}

.nice-form [type="checkbox"] + .fake-input:before {
	content: '';
    width: 6px;
    height: 3px;
    position: absolute;
    top: 8px;
    left: 7px;
    border: 1px solid #fff;
    border-width: 0 0 1px 1px;
    opacity: 0;
    transform: rotate(-45deg);
    margin: -4px 0 0 -4px;
}

.nice-form [type="checkbox"]:checked + .fake-input:before {
	opacity: 1;
}

.nice-form [type="checkbox"]:checked + .fake-input {
	background: linear-gradient(to right, #ff846e 0%,#ff6b9b 100%);
	border: 1px solid #ff6b9b;
}

.nice-form input:disabled + .fake-input,
.nice-form input:disabled ~ .fake-label{
	opacity: .5;
}

.nice-form .fake-label {
	color: #999;
    font-size: 12px;
    padding: 0 0 0 25px;
    display: block;

    a {
    	display: inline-block;
    	vertical-align: middle;
    	color: #ff836f;
    	text-decoration: none;

    	&:hover {
    		color: #ff6b9b;
    	}
    }
}


.label-wrapper {
	display: flex;
	flex-wrap: wrap;
    max-width: 319px;
    text-align: left;
    position: relative;
    margin: 0 0 15px;

    @include media('>=tablet') {
    	margin: 0 0 33px;
    }
}
	// background: transparent linear-gradient( rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, .2) 50% ) center center / 100% 6px;}
